

.footer-sec{
    display: flex;
    margin: auto;
    height: 10vh;
    background-color: #0aa1dd;
    color: #fff;
    text-align: center;
}

.footer-sec > h1{
    display: inline-block;
    position: relative;
    margin: auto;
}