



@mixin height-width(){
    height: fit-content;
    height: -webkit-fit-content;
    width: fit-content;
    width: -webkit-fit-content;
}






section.sec-2{
    // background-color: rgba(251, 221, 152, 0.647);
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.sec-2 > div{
    height: auto;
    width: auto;
    // background-color: rgba(0, 255, 140, 0.832);
    margin: 2% 5%;
    margin-left: 12%;
}

.sec-2 > div:nth-child(1){
     display: flex;
     flex-direction: column;
}

.sec-2-top{
    // background-color: grey;
}
.mid-head-latest{
    display: flex;
    // background-color: rgba(111, 24, 24, 0.764);
    height: auto;
}


.mid-head-latest > span {
    

    height: fit-content;
    height: -webkit-fit-content;
    width: 100px;
    margin-left: auto;
    margin-top: 0%;
    border-radius: 0.6rem;
    text-align: center;
    padding: 1%;
    font-family: 'Noto Sans KR', sans-serif;
    
    


}

.mid-head-latest > h1{
    height: fit-content;
    height: -webkit-fit-content;
    width: fit-content;
    width:  -webkit-fit-content;
    margin: 5%;
    display: inline-block;
}

.book-shelf{
    margin: 5% 0;
    height: auto;
}



.book-shelf > span{
    display: inline-block;
    width: fit-content;
    width: -webkit-fit-content;
    margin: auto;
    
    
}

.book-shelf{
    display: flex;
}

.book-shelf > span > img{
    height: 300px;
    width: 200px;
    transition: all 0.7s ease;
    box-shadow: 10px 5px 10px rgba(128, 128, 128, 0.163);

}

.book-shelf > span >img:hover{
    scale: 1.15;
}

.sec-2-mid{
    // background-color: rgb(100, 212, 149);
    height: auto;
    display: flex;
    // padding-top:2%;
    
}


.sec-2-mid > div {
    background-color: #fff;
    @include height-width;
    margin: auto;
    // padding: 2% 4%;
    border-radius: 2rem;
    overflow: visible;
    margin-left: 0;
    margin-right: 0;
    
}

.sec-2-mid > div:nth-child(2) {
    margin: auto;
    // display: none;
} 
.sec-2-mid > div:nth-child(1) {
    margin: 12% 1%;
    // display: none;
} 

.sec-2-mid > div:nth-child(2) > svg{
    margin-left: auto;

    // display: none;
} 

.timeline {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 1rem;
    width: 500px;
    height:100px;
    padding: 2%;
    
    box-shadow: rgba(128, 128, 128, 0.458) 2px 2px 5px ;
    border: rgba(0, 0, 0, 0.06) solid ;

}
.date{
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px;
    padding: 15px 17px;
    margin: auto;
    width: 20px;
    content: '';
    display: inline;
    overflow: visible;
    border-radius: .6rem;
    margin: 2%;
    // padding-right: 4%;
    @include height-width;
    text-align: center;
}

.date:hover:not(.week){
    scale: 1.2;
}

.timeline_heading {
    
    @include height-width;
   
    display: inline-block;
    
    font-size: 2rem;
}


.week{
    color: #000;
    font-size: 1.1rem;
    background-color: #fff;
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}



.timeline_heading_div > span {
   
    @include height-width;
   
    display: inline;
    font-size: 1rem;
    margin-left: auto;
    margin-top: 0%;
    border-radius: 0.6rem;
    
    padding: 1%;
    
   
    font-family: 'Noto Sans KR', sans-serif;
}


.timeline_heading_div{
    display: flex;
    margin-top: 0%;
}


.sec-2-mid > div:nth-child(2) {
    background-color: #fff;
    @include height-width;
    margin: auto;
    // padding: 2% 4%;
    border-radius: 2rem;
    overflow: visible;
    margin-left: 0;
    margin-right: 0;
   
    
}

div.daily-stats{
    padding: 0;
    
}

.date:nth-of-type(10){
    background-color: rgba(0, 0, 0, 0.158);
    color: #000;
}
.date:nth-of-type(13){
    background-color: rgba(0, 0, 0, 0.158);
    color: #000;

}
.date:nth-of-type(9){
    background-color: rgba(0, 0, 0, 0.158);
    color: #000;

}
.date:nth-of-type(17){
    background-color: rgba(0, 0, 0, 0.158);
    color: #000;

}


// minute alignment problem in week days of calendar

span.week{
    text-align: center;
    margin-left: 20%;
}
span.week:nth-of-type(1){
    text-align: center;
    margin-left: 20%;
}
span.week:nth-of-type(2){
    text-align: center;
    margin-left: 15%;
}
span.week:nth-of-type(3){
    text-align: center;
    margin-left: 20%;
}
span.week:nth-of-type(4){
    text-align: center;
    margin-left: 20%;
}
span.week:nth-of-type(5){
    text-align: center;
    margin-left: 20%;
}


.daily-stats{
    overflow: visible;
}

.sec-2-mid{
    overflow: visible;
}
.daily-stats:hover #stats-svg-first{
    transition: all 0.7s ease;
    
}





