




section.topbar{
    content: '';
    // height: 12vh;
    // background-color: #000;
    width: auto;
    display: flex;
    
}


div.left-side{
    width: 50vw;
    // height: 12vh;
    content: '';
    // background-color: rgba(255, 166, 0, 0.66);
    // margin-left: 3.3%;
    display: inline-block;
    display: flex;
    margin-left: 1.5%;
}


div.logo-div{
    // height: 12vh;
    width: 100px;
    // background-color: rgba(255, 0, 0, 0.493);
    display: inline-block;
    content: '';
    overflow: visible;
}

div.logo-div > img {
    display: inline-block;
    margin: auto;
    width:70px;
     height:70px;
     margin-top: 10px;
     margin-left: 15px;
}



div.dropdown-div{
    content: '';
    height: fit-content;
    height: -webkit-fit-content;
    // padding: 5%;
    // background-color: var(--secondary-bg-color);
    text-align: center;
    margin: auto;
    display: flex;
    border-radius: 0.6rem;
    margin-left: 15%;
    // box-shadow: rgba(87, 87, 87, 0.762) 2px 2px 2px;
}

div.searchbar-div{
    content: '';
    
    display: flex;
    height: fit-content;
    height: -webkit-fit-content;
    width:  fit-content;
    width: -webkit-fit-content;
    margin: auto;
    padding: 2% 8%;

}

.searchbar-div > input{
    border-radius: 2rem 0 0 2rem;
    border: none;
    height: 45px;
    width: 300px;
    // background-color: var(--secondary-bg-color);
    // background-image:  ;
    
   
    background-color: rgba(128, 128, 128, 0.097);
    
}


.searchbar-div > button > i{
    color: #fff;
}

.searchbar-div > button{
    border: none;  
    background-color: #0aa1dd; 
    width: 60px;
    border-radius: 0 2rem 2rem 0;
}

.searchbar-div > button:hover{
    cursor: pointer;

}
.searchbar-div > input:active{
    border: solid gray  2px;
}


div.right-side{
    content: '';
    // background-color: rgba(255, 255, 0, 0.622);
    height: 12vh;
    margin-left: auto;
    display: flex;
    width: 20vw;    
}


svg#bell{
    display: inline-block;
    position: relative;
    width:40px;
    height:35px;
    margin-left: auto;
    margin-top: 8%;
    margin-right: 20%;
    
}

svg#bell > g > path {
    fill: rgba(128, 128, 128, 0.705);
}

  ellipse#notif-dot {
    
    visibility: hidden;
}



div.user-id{
    display: flex;
    // background-color: rgba(0, 128, 0, 0.777);
    // background-color: rgba(128, 128, 128, 0.097);
    
    content: '';
    flex-direction: row;
    width: 190px;
    position: relative;
    margin: auto;
    margin-left: auto;
    margin-right: 0%;
    text-align: center;
    align-items: center;
    justify-content: center;
    // height: 10vh;
    
    // padding: 7%;
    // height: 12vh;
    // width:  fit-content;
    // width: -webkit-fit-content;
}

div.user-id > img{
    margin-right: 15%;
    margin-bottom: 10%;
}
div.user-id > span {
    
    display: flex;
    position: relative;
    margin: auto;
    flex-direction: column;
    // margin-right: 30%;
    margin: auto;
    text-align: center;
    
}
div.user-id >span >span{
    height: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    margin: auto;
    text-align: center;
    display: inline-block;
    margin: 2% 0;
}
div.user-id > span:nth-child(2) {
    
    height: fit-content;
    height: -webit-fit-content;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 0;
    margin-right: 30%;
}

div.user-id > span:nth-child(1){
    margin-bottom: 5%;
}
