

@import './sec-1';
@import './sec-2';
@import './sec-3';
@import './sec-1\,2\,3-container';
@import './sidebar';
@import './topbar';
@import './footer';
@import './animate/sec-1-anim.scss';
@import './animate/stats-svg-animate';
@import './animate/book-animate';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');



*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --primary-color: #0aa1dd;
    --secondary-color:#2155CD;
    --primary-bg-color:rgba(255, 255, 255, 0.6);
    --secondary-bg-color:#E8F9FD;
    
}