

@import './sec-1';
@import './sec-2';
@import './sec-3';
@import './sec-1\,2\,3-container';
@import './sidebar';
@import './topbar';
@import './footer';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');




*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

