

@media (min-width:500px) and (max-width:1000px) {
    

    .book-shelf{
        display: flex;
        flex-direction: column;
    }
    
    .book-shelf > span > img{
        height: 300px;
        width: 200px;
        transition: all 0.7s ease;
        box-shadow: 10px 5px 10px rgba(128, 128, 128, 0.163);
    
    }
    .sec-2 > div{
        height: auto;
        width: auto;
        // background-color: rgba(0, 255, 140, 0.832);
        margin: 2%;
    }
}